<section id="featured-work">
  <div class="container">
    <h2>Featured Work</h2>
    <div class="row">
      <div class="col-md-6 left">
        <div class="featured-image">
          <figure class="left-small-box">
          </figure>
        </div>
        <div class="featured-description">
          <h3>
            Project
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
          <p>
            <%= link_to 'View My Work', '#featured-work', class: 'btn btn-yellow' %>
          </p>
        </div>
      </div>
      <div class="col-md-6 right">
        <figure class="right-big-box">
        </figure>
      </div>
    </div>
  </div>
</section>
