<header>
  <div class="container">
    <div class="page-intro center-block">
      <h1>
        <span class="title"><span class="text-yellow">Creative</span> Product<br> Development</strong></span><br>
        <span class="subtitle"><span class="text-pink">Bauke van Wieren</span> - Freelancer</span>
      </h1>

    </div>
    <div class="call-to-action text-center">
      <%= link_to 'View My Work', '#featured-work', class: 'btn btn-lg btn-pink' %>
    </div>
  </div>
</header>
