#featured-work {
  background-color: $light-grey;

  .left {

    .featured-image {
      .left-small-box {
        height: 270px;
        background-color: #d8d8d8;
      }
    }

    .featured-description {
      margin-top: 30px;
      padding: 25px;
      background-color: #ffffff;
      box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .right-big-box {
    height: 560px;
    background-color: #d8d8d8;
  }
}
