header {
  background-image: image-url('header-bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 800px;
  height: 100vh;

  .page-intro {
    position: relative;
    width: 100%;
    padding: 40px;
    margin-top: 25vh;
    background-image: linear-gradient(246deg, #0b010b, #140214 66%, #140214 71%, #160216 82%, #180218);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.33);

    h1 {
      color: #ffffff;

      .title {
        font-size: 72px;
      }

      .subtitle {
        font-size: 36px;
        display: block;
        margin-top: 40px;
      }
    }
  }

  .call-to-action {
    margin-top: 15vh;
  }
}
